.first {
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    text-align: center;
    padding: 200px;
    color: white;
}

.second {
    text-align: center;

}

.first img:last-child {
    padding: 170px;
}

h2 {
    text-align: center;
}

.third {
    background-image: url('../images/s_image.jpg');
    background-size: cover;
    height: 250px;
    text-align: center;
    color: white;
    padding: 100px;
}