/* Introduction page */
.first {
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    text-align: center;
    padding: 180px;
    color: white;
}

.first img:last-child {
    padding: 200px;
}

/* About section */
.second {
    text-align: center;

}


h2,
h4 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h5 {
    text-align: center;
    font-weight: bold;
}

/* services section */
.third {
    background-image: url('../images/s_image.jpg');
    background-size: cover;
    height: 350px;
    text-align: center;
    color: white;
    padding: 100px;
}

/* design section */
#design-p,
#development-p,
#product-p {
    display: none;
    text-align: center;
}

#design-pic,
#development-pic,
#product-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* footer section */
.footer {
    width: 55%;
    margin: 0 auto;
    padding: 100px;
}

/* contact form  */
.contact {
    background-image: url('../images/c_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.contact>h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 25px;
}

#form1,
#form2,
#form3 {
    background-color: transparent;
}

textarea {
    width: 100%;
    height: 200px;
    color: white;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#sayhi ::placeholder {
    color: white;
}

#sayhi input {
    color: white;
    background-color: transparent;
}


/* portfolio */
.portfolio {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 9%;
    padding-right: 9%;
}

.portfolio>h2 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.portfolio>P {
    text-align: start;
    vertical-align: top;
}

#pro {
    margin-top: 30%;
    text-align: center;
    font-size: 25px;
}

.col-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.project {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
    position: absolute;
    top: 0.0em;
    display: none;
    color: black;
    font-size: 20px;
}

.project2 {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0.0em;
    display: none;
    color: black;
    font-size: 20px;
}

.project3 {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0.0em;
    display: none;
    color: black;
    font-size: 20px;
}

.project4 {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display: none;
    color: black;
    font-size: 20px;
}

.project5 {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display: none;
    color: black;
    font-size: 20px;
}

.project6 {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display: none;
    color: black;
    font-size: 20px;
}

.project7 {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display: none;
    color: black;
    font-size: 20px;
}

.project8 {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display: none;
    color: black;
    font-size: 20px;
}

/* media query */
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: white;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: white;
    }
}